<div class="gaugeGroup">
  <div class="gaugeArea">
    <div class="gaugeName" style="color: #4cbb17;">Download</div>
    <mwl-gauge [max]="displayValues.maxDownload" [value]="displayValues.download" [label]="getLabel" [animated]="false"
      [animationDuration]="0.5"></mwl-gauge>
  </div>
  <div class="gaugeArea">
    <div class="gaugeName" style="color: #ff7417;">Upload</div>
    <mwl-gauge class="upload" [max]="displayValues.maxUpload" [value]="displayValues.upload" [label]="getLabel"
      [animated]="false" [animationDuration]="0.5"></mwl-gauge>
  </div>
</div>
<div class="statsGroup" *ngIf="showStats" @fadein>
  <div class="statsItem">
    <div class="statsName">RTT</div>
    <div class="statsValue">{{displayValues.latency}}</div>
    <div class="statsUnit">ms</div>
  </div>
  <div class="statsItem">
    <div class="statsName">Jitter</div>
    <div class="statsValue">{{displayValues.jitter}}</div>
    <div class="statsUnit">ms</div>
  </div>
  <div class="statsItem">
    <div class="statsName">Retransmissão</div>
    <div class="statsValue">{{displayValues.retransmissions}}</div>
    <div class="statsUnit">%</div>
  </div>
</div>
<div class="ipArea" *ngIf="showStats" @fadein>
  <div class="ipTitle">IP do Cliente:</div>
  <div class="ipValue">{{displayValues.clientIp}}</div>
</div>
<div class="ipArea" *ngIf="showStats" @fadein>
  <div class="ipTitle">Horário:</div>
  <div class="ipValue">{{displayValues.testTime}}</div>
</div>