.main-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: pink;
}

.main-item {
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

.bw-line {
  display: flex;
  min-width: min(500px,90vw);
  justify-content: space-between;
}

.bw-item {
  display: flex;
  width: fit-content;
  height: min(12vw,5em);
  align-items: center;
}

.bw-item > .download {
  font-size: min(12vw,5em);
  display: inline-block;
  color: #4cbb17;
}

.bw-item > .upload {
  font-size: min(12vw,5em);
  display: inline-block;
  color: #ff7417;
}

.bw-item > .unity {
  font-size: min(4vw,1.5em);
  display: inline-block;
  align-self: flex-end;
}

#startButton {
  color: white;
  //background-image: radial-gradient(circle, rgba(75,0,130,1) 0%, rgba(99,14,135,1) 80%, rgba(120,28,140,1) 100%);
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  width: 80px;
  height: 80px;
  text-align: center;
  box-shadow: 2px 2px 4px 2px #999;
}

#startButton:disabled {
  //background-color: grey;
  //background-image: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(153,153,153,1) 80%, rgba(179,179,179,1) 100%);
  font-size: 1em;
  width: 80px;
  height: 80px;
}

.statsGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.statsItem {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-align: center;
  margin: 10px 15px 0px 15px;
}

.statsName {
  font-size: 1.2em;
  font-weight: 500;
  display: block;
}

.statsValue {
  padding: 5px;
  padding-right: 0.1em;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  color: #AA6060;
}

.statsUnit {
  display: inline-block;
  font-size: 1em;
}

.ipArea {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipTitle {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}

.ipValue {
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: 500;
}